# {{ project_name }}

Built with SvelteKit, generated via Copier.
Created by **{{ author }}**.

## Getting Started

Source the aliases file

```sh
. ./aliases
```

Build (and run) the container

```sh
pupb
```

Start developing!

## Building

To use pnpm, with the container running, source aliases again and use the alias `ppnpm`

```sh
. ./aliases
ppnpm install PACKAGE_NAME
```
